
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-size: 16px; 
}

:root {
  --MainColor : white ; 
  --SecColor :  #1C3536;
  --ThColor : #068244; 
  --btnColor : #14bf98 ;
  --bgColor : black;
}



