

 /* Thierd-section */



 card-info {
     background-color: black;
     display: flex;
     width: 150%;
     min-height: 50vh;
 }


 .title {
     display: flex;
     justify-content: center;
     font-size: 2.5rem; 
     margin-top: 90px;
     font-weight: 800;
 }

.cards {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between ;
    flex-direction: row; 
    flex-wrap: wrap; 
    padding: 80px;

} 


.card {
    background-color: var(--SecColor);
    width: 20rem;
    height: 2%;
    padding: 1rem ;
    border: 1px solid var(--SecColor) ;
    border-radius: 38px;
    transition: 4s ease; 
}


.card:hover {
    background-color: black;
    cursor: pointer;
}



.card img {
    padding: 7px;
}

.main-icon hr {
    border-top: 1px solid whitesmoke ; 
}



.icon-info  p {
    font-size: 1.5rem;
    text-align: start;
    margin-top: 2rem;
    line-height: 2    ;
    padding: 10px ;
    font-size: 1.2rem;
} 

.vera {
    width : 150px ;
    height: 75px;
}


.perform {
    width: 200px;
    height: 75px;
}


.bot {
    width: 170px;
    height: 75px;
}

